/*CSS Styles for Simple Life Site*/
:root {
  --primary-color: #143774;
  --secondary-color: #1792d2;
  --background-gray-color: #ebebeb;
  --background-white-color: #ffffff;
  --body-text-color: #707070;
  --menu-text-color: #717171;
  --primary-font: "Ubuntu";
  --accent-font: "Lora";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--body-text-color);
  font-weight: 300;
  font-size: 16px;
  background-color: #ffff;
}

/**********
Typography
**********/
.text-bold {
  font-weight: 900;
}

h3 {
  color: var(--secondary-color);
  font-size: 1.2em;
  font-family: var(--accent-font);
  margin: 1.1em 0;
}

.page-title,
.article-title {
  font-family: var(--accent-font), serif;
  color: var(--primary-color);
}
.page-title {
  font-size: 2rem;
  transition: all 0.5s ease-out;
}

.subtitle {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease-out;
}

.article-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.article-info {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.article-body {
  line-height: 1.9em;
  letter-spacing: 0.04em;
}

.article-read-more {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.785rem;
  font-weight: 700;
  letter-spacing: 0.18em;
  display: inline-block;
  margin: 1.5rem 0 1.5rem 0;
}

.widget-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0.1em 0 1.5em 0;
  letter-spacing: 0.225rem;
}

.widget-recent-post-title {
  font-family: var(--accent-font), serif;
  color: var(--primary-color);
  font-size: 1.125rem;
  margin: 0.5rem 0;
}

.widget-recent-post:nth-child(-n + 3) > h3 {
  border-bottom: 1px solid var(--body-text-color);
  margin: 0.9rem 0 1.5rem 0;
  padding-bottom: 2rem;
}

.widget-body {
  font-size: 0.785rem;
  color: var(--primary-color);
}
footer p {
  opacity: 0.54;
  font-size: 1.125rem;
}

.footer-logo {
  font-weight: 700;
}

.footer-legal {
  margin-top: 0.5em;
}
/******
Links
*******/
a {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  color: var(--primary-color);
  border: dashed var(--body-text-color) 1px;
}

strong {
  font-weight: 700;
}

/******
Layout
*******/
header {
  background-color: #f8f8f8;
  padding: 2em 0;
  text-align: center;
}

.page-title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 0.6rem;
  letter-spacing: 1.4px;
  margin-top: 0.3rem;
}
.container {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 675px) {
  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
}

.container-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin-top: 2.5em;
  padding: 0px 20px;
}
@media screen and (min-width: 675px) {
  .container-main {
    grid-template-columns: 3fr 1.5fr;
    align-items: start;
  }

  .article-recent-secondary {
    order: -2;
  }
}

h3 {
  color: var(--secondary-color);
  font-size: 1.1em;
  font: var(--accent-font);
  margin: 1.3em 0;
}

.article-hero {
  height: 308px;
  object-position: bottom;
  margin-bottom: 2rem;
}

.article-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px var(--body-text-color) solid;
}

.article-featured img {
  order: -2;
  height: 270px;
  object-position: bottom;
  margin-bottom: 2rem;
}
.article-featured .article-info {
  order: -1;
}

.secondary-content {
  width: 25%;
}

.sidebar-widget {
  background-color: var(--background-gray-color);
  padding: 1em;
  margin-bottom: 2.5rem;
}
.sidebar-widget-container {
  background-color: var(--background-white-color);
  padding: 1em;
  border-radius: 8px;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.article-recent-secondary {
  order: 1;
}

.article-recent-secondary > .article-info {
  text-align: right;
}

.article-recent-secondary > img {
  margin-bottom: 1rem;
}

.article-recent-main {
  order: 2;
  margin-top: -2.5em;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
}

.widget-recent-post h3 {
  order: 1;
}

footer {
  background-color: var(--primary-color);
  color: var(--background-white-color);
  text-align: center;
  padding: 3.5rem 1rem;
}

/*********
Images
*********/
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.widget-img {
  height: 133px;
  margin-bottom: 1em;
}
.widget-recent-post img {
  height: 87px;
}
.widget-recent-post img {
  object-position: center 50%;
}
.widget-recent-post:nth-child(3) img {
  object-position: center 70%;
}
.widget-recent-post:nth-child(4) img {
  object-position: center 45%;
}

/*********
Menus
*********/
.container-nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0 0;
}
.menu-item {
  padding-bottom: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.95rem;
  letter-spacing: 2.3px;
}

@media screen and (min-width: 725px) {
  .menu {
    flex-direction: row;
  }

  .container-nav {
    flex-direction: row;
  }
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--menu-text-color);
  padding-bottom: 0.25rem;
}

.menu-active {
  border-bottom: var(--menu-text-color) solid 3px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-color);
}

.menu-link:active {
  color: var(--primary-color);
}
