/*CSS Styles for Simple Life Site*/
:root {
  --primary-color: #143774;
  --secondary-color: #1792d2;
  --background-gray-color: #ebebeb;
  --background-white-color: #ffffff;
  --body-text-color: #707070;
  --menu-text-color: #717171;
  --primary-font: "Ubuntu";
  --accent-font: "Lora";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #ffff;
  font-family: var(--primary-font), sans-serif;
  color: var(--body-text-color);
}

/**********
Typography
**********/
.page-title {
  font-family: var(--accent-font), serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}

.subtitle {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-bottom: 1.5rem;
  transition: all 0.5s ease-out;
}

.article-title {
  font-family: var(--accent-font), serif;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.article-info {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 1rem 0;
}

.article-read-more {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.785rem;
  font-weight: 700;
  letter-spacing: 0.18em;
  display: inline-block;
  margin: 1.5rem 0;
}

.widget-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0.1em 0 1.5em 0;
}

.widget-recent-post-title {
  font-family: var(--accent-font), serif;
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0.5rem 0 1.5rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--menu-text-color);
}

.widget-body {
  font-size: 0.785rem;
  color: var(--primary-color);
  margin: 1.5em 0;
}
footer p {
  opacity: 0.54;
  font-size: 1.125rem;
}

.footer-logo {
  font-weight: 700;
}

.footer-legal {
  font-weight: 300;
  margin-top: 0.5em;
}
/******
Links
*******/
a {
  color: var(--secondary-color);
}

/******
Layout
*******/
header {
  background-color: #f8f8f8;
  padding: 2em 0;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  header {
    text-align: center;
  }
  .page-title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 0.6rem;
    letter-spacing: 1.4px;
    margin-top: 0.3rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu-item {
    padding-bottom: 0.3rem;
  }
}

.primary-content {
  display: grid;
  width: 70%;
}

.secondary-content {
  width: 25%;
}

.sidebar-widget {
  background-color: var(--background-gray-color);
  padding: 1em;
}
.sidebar-widget-container {
  background-color: var(--background-white-color);
  padding: 1em;
  border-radius: 8px;
}

footer {
  background-color: var(--primary-color);
  color: var(--background-white-color);
  text-align: center;
  padding: 3rem 0;
}
/*********
Images
*********/
img {
  width: 100%;
}
@media screen and (max-width: 850px) {
  .widget-img {
    height: 133px;
    object-fit: cover;
  }
  .widget-recent-post img {
    height: 87px;
    object-fit: cover;
  }
  .widget-recent-post img {
    object-position: center 50%;
  }
  .widget-recent-post:nth-child(3) img {
    object-position: center 70%;
  }
  .widget-recent-post:nth-child(4) img {
    object-position: center 45%;
  }
}
/*********
Menus
*********/
.container-nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  margin: 0 0;
  display: flex;
}

.menu-item {
  font-weight: 700;
  font-size: 1rem;
  margin: 0.95rem;
  letter-spacing: 2.3px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--menu-text-color);
  padding-bottom: 0.25rem;
}

.menu-active {
  border-bottom: var(--menu-text-color) solid 3px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-color);
}

.menu-link:active {
  color: var(--primary-color);
}
